@mixin line1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

@mixin clearfix {
    &:after {
        visibility:hidden;
        content:'';
        height: 0;
        clear:both;
        display: block;
    }
}

@mixin line2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

@mixin extend-click {
    position: relative;
    &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// @mixin bg-image($url){
//     background-image: url($url + '.png');
//     @media (-webkit-min-device-pixel-radio:3),(min-device-pixel-ratio: 3){
//         background-image: url($url+'@3x.png')
//     }
// }